In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_pickle("../data/raw/not_null.pkl")

In [3]:
df.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,68407277,3600.0,3600.0,3600.0,36,13.99,123.03,C,C4,leadman,...,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0,N,Cash,N
1,68355089,24700.0,24700.0,24700.0,36,11.99,820.28,C,C1,Engineer,...,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0,N,Cash,N
2,68341763,20000.0,20000.0,20000.0,60,10.78,432.66,B,B4,truck driver,...,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0,N,Cash,N
4,68476807,10400.0,10400.0,10400.0,60,22.45,289.91,F,F1,Contract Specialist,...,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0,N,Cash,N
5,68426831,11950.0,11950.0,11950.0,36,13.44,405.18,C,C3,Veterinary Tecnician,...,100.0,0.0,0.0,16900.0,12798.0,9400.0,4000.0,N,Cash,N

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1230577 entries, 0 to 2260697
Data columns (total 87 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   id                          1230577 non-null  object
 1   loan_amnt                   1230577 non-null  float64
 2   funded_amnt                 1230577 non-null  float64
 3   funded_amnt_inv             1230577 non-null  float64
 4   term                        1230577 non-null  int64
 5   int_rate                    1230577 non-null  float64
 6   installment                 1230577 non-null  float64
 7   grade                       1230577 non-null  category
 8   sub_grade                   1230577 non-null  category
 9   emp_title                   1230577 non-null  object
 10  emp_length                  1230577 non-null  category
 11  home_ownership              1230577 non-null  category
 12  annual_inc                  1230577 non-null  float64
 13  verification_status         1230577 non-null  category
 14  loan_status                 1230577 non-null  category
 15  pymnt_plan                  1230577 non-null  category
 16  purpose                     1230577 non-null  category
 17  title                       1230577 non-null  object
 18  zip_code                    1230576 non-null  object
 19  addr_state                  1230577 non-null  category
 20  dti                         1230577 non-null  float64
 21  delinq_2yrs                 1230577 non-null  float64
 22  fico_range_low              1230577 non-null  float64
 23  fico_range_high             1230577 non-null  float64
 24  inq_last_6mths              1230577 non-null  float64
 25  open_acc                    1230577 non-null  float64
 26  pub_rec                     1230577 non-null  float64
 27  revol_bal                   1230577 non-null  float64
 28  revol_util                  1230577 non-null  float64
 29  total_acc                   1230577 non-null  float64
 30  initial_list_status         1230577 non-null  category
 31  out_prncp                   1230577 non-null  float64
 32  out_prncp_inv               1230577 non-null  float64
 33  total_pymnt                 1230577 non-null  float64
 34  total_pymnt_inv             1230577 non-null  float64
 35  total_rec_prncp             1230577 non-null  float64
 36  total_rec_int               1230577 non-null  float64
 37  total_rec_late_fee          1230577 non-null  float64
 38  recoveries                  1230577 non-null  float64
 39  collection_recovery_fee     1230577 non-null  float64
 40  last_pymnt_amnt             1230577 non-null  float64
 41  last_fico_range_high        1230577 non-null  float64
 42  last_fico_range_low         1230577 non-null  float64
 43  collections_12_mths_ex_med  1230577 non-null  float64
 44  application_type            1230577 non-null  category
 45  acc_now_delinq              1230577 non-null  float64
 46  tot_coll_amt                1230577 non-null  float64
 47  tot_cur_bal                 1230577 non-null  float64
 48  total_rev_hi_lim            1230577 non-null  float64
 49  acc_open_past_24mths        1230577 non-null  float64
 50  avg_cur_bal                 1230577 non-null  float64
 51  bc_open_to_buy              1230577 non-null  float64
 52  bc_util                     1230577 non-null  float64
 53  chargeoff_within_12_mths    1230577 non-null  float64
 54  delinq_amnt                 1230577 non-null  float64
 55  mo_sin_old_il_acct          1230577 non-null  float64
 56  mo_sin_old_rev_tl_op        1230577 non-null  float64
 57  mo_sin_rcnt_rev_tl_op       1230577 non-null  float64
 58  mo_sin_rcnt_tl              1230577 non-null  float64
 59  mort_acc                    1230577 non-null  float64
 60  mths_since_recent_bc        1230577 non-null  float64
 61  mths_since_recent_inq       1230577 non-null  float64
 62  num_accts_ever_120_pd       1230577 non-null  float64
 63  num_actv_bc_tl              1230577 non-null  float64
 64  num_actv_rev_tl             1230577 non-null  float64
 65  num_bc_sats                 1230577 non-null  float64
 66  num_bc_tl                   1230577 non-null  float64
 67  num_il_tl                   1230577 non-null  float64
 68  num_op_rev_tl               1230577 non-null  float64
 69  num_rev_accts               1230577 non-null  float64
 70  num_rev_tl_bal_gt_0         1230577 non-null  float64
 71  num_sats                    1230577 non-null  float64
 72  num_tl_120dpd_2m            1230577 non-null  float64
 73  num_tl_30dpd                1230577 non-null  float64
 74  num_tl_90g_dpd_24m          1230577 non-null  float64
 75  num_tl_op_past_12m          1230577 non-null  float64
 76  pct_tl_nvr_dlq              1230577 non-null  float64
 77  percent_bc_gt_75            1230577 non-null  float64
 78  pub_rec_bankruptcies        1230577 non-null  float64
 79  tax_liens                   1230577 non-null  float64
 80  tot_hi_cred_lim             1230577 non-null  float64
 81  total_bal_ex_mort           1230577 non-null  float64
 82  total_bc_limit              1230577 non-null  float64
 83  total_il_high_credit_limit  1230577 non-null  float64
 84  hardship_flag               1230577 non-null  category
 85  disbursement_method         1230577 non-null  category
 86  debt_settlement_flag        1230577 non-null  category
dtypes: category(14), float64(68), int64(1), object(4)
memory usage: 711.2+ MB

In [3]:
X = df.drop("loan_status", axis = 1)

In [4]:
y = df[["loan_status"]]

In [5]:
def check_and_append_dummy_to_df(df):
    for column in df.columns:        
        if df[column].dtype.name == "category":
            dummy = pd.get_dummies(df[column], prefix=column, prefix_sep="_")
            df = pd.concat([df,dummy], axis=1)
            df.drop(column, axis=1, inplace=True)
    return df

In [6]:
X = check_and_append_dummy_to_df(X)

In [7]:
final_df = pd.concat([X,y], axis=1)

In [8]:
#drop columns
drop_column_name = ["id", "title", "zip_code", "emp_title"]
X.drop(drop_column_name, axis=1, inplace=True)

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler

/home/d/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [10]:
# scaler = MinMaxScaler()
scaler = StandardScaler()

In [11]:
transformed = scaler.fit_transform(X)

In [12]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, f1_score

In [13]:
y["loan_status"] = y["loan_status"].astype("int")

/home/d/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
two_d_y = y["loan_status"].values.reshape(-1,1)

In [15]:
drop_column_data = df[["id"]]

In [19]:
drop_column_data

               id
0        68407277
1        68355089
2        68341763
4        68476807
5        68426831
...           ...
2260688  89905081
2260690  88948836
2260691  89996426
2260692  90006534
2260697  88224441

[1230577 rows x 1 columns]

In [16]:
len(drop_column_data), len(transformed)

(1230577, 1230577)

In [17]:
drop_column_data.to_pickle("../data/prod/ids.pkl")

In [18]:
final_2d = np.concatenate([transformed, two_d_y], axis=1)

In [19]:
final_columns = [*X.columns.values, *y.columns.values]

In [20]:
final_df = pd.DataFrame(final_2d, columns=final_columns)

In [21]:
final_df.to_pickle("../data/prod/scaler_data_standard.pkl")